.serviceForm{
  padding: 20px;
  border: 1px solid #ccc;
  margin: auto;
  box-shadow: 0 0 10px gray;
  max-width: 1000px;
}
.head{
  text-decoration: underline;
  text-align: center;
  margin-bottom: 20px;
}
.title{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 40px;
}
.form-table{
  margin-left: 275px;
}
.form-table mat-form-field{
  width: 180%;
}
.form-table input[type="text"] {
  width: 180%;
  border-radius: 5px;
}
.form-table td {
  padding-bottom: 10px;
}

.form-table label{
  margin-left: 0px;
}
.desc-table{
  margin-left: 150px;
}
.desc-table mat-form-field{
  width: 180%;
}
mat-label {
  margin-right: 20px;
}
.specimen{
  text-align: center;
  margin-left: 10px;
}

.column {
  float: left;
  width: 40%;
  padding: 10px;
  height: 100px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
  display: flex;
  justify-content: center;
}
.contact{
  margin-top: 0px;
}
.align{
  text-align: center;
}
.align input{
  width: 200px;
}

.center{
  display: flex;
  justify-content: center;
}
